.nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-right: 60px;
    
}

.navbar-toggler {
   margin: 40px;
   
}
.logo {
    height: 120px ;
    width: 180px;
}

footer {
    background-color: #042F4A;
    padding: 20px;
    color: #5EC8E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerHours{
    text-align: center;
}

.footerLinks{
    margin: 10px;
}
.navBarLinkTop{
   margin: 5px; 
   padding: 2px;
    
}

.navBarLinkBottom{
    margin: 5px; 
    padding: 2px;
     
 } 

 @media only screen and (max-width: 600px ) {
    .logo {
        height: 90px ;
    width: 110px;
    }
    hr {
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
        padding-right: 0px;
    }

    .footerMap {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
   .footerInfo {
    display: flex;
    text-align: center;
    margin-top: 10px;
   }
   .footerLinks{
    display: none;
}
    }

    @media only screen and (max-width: 1024px ) {
        .footerMap {
            display: none;
        }
    }


