nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    
}
.logo {
    height: 120px ;
    width: 180px;
}

footer {
    background-color: #042F4A;
    padding: 100px;
    color: #5EC8E5;
    display: flex;
    justify-content: space-between;
}
.footerHours{
    text-align: center;
}

.navBarLinkTop{
   margin: 20px; 
   padding: 10px;
    
}

.navBarLinkBottom{
    margin: 20px; 
    padding: 10px;
     
 }

