h2 {
  text-align: center;
  color: #042f4a;
  margin-bottom: -20px;
}
h4 {
  text-align: center;
  color: #042f4a;
}
h6 {
  text-align: center;
  color: #ff5745;
  font-weight: 600;
}
h3 {
  color: #042f4a;
  margin-top: 50px;
  text-align: center;
}

h5 {
  color: #042f4a;
  text-align: center;
}

.accordion-button {
  color: #042f4a;
  opacity: 0.6;
  font-weight: 600;
  /* background-color: #FF5745; */
}

.accordion-item {
  color: #042f4a;
  font-weight: 600;
  background-color: #f9f9f7;
}

.questions {
  color: #042f4a;
}

.repairEmailNum {
  color: #042f4a;
}

.repairCarousel {
  width: 900px;
  height: 500px;
  margin: auto;
}
.repairImages {
  width: 900px;
  height: 500px;
}

.carousel.slide {
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
  .repairType {
    padding-bottom: 20px;
  }
  .turnAroundTime {
    padding-top: 20px;
  }
}
